@charset "UTF-8";
	
body{
	z-index:5;
	background-color:rgba(0,0,0,0.5);
	padding-top:150px;
}
.box{
	width:400px;
	height:400px;
	margin:0 auto;
}
label{
	font-size:12px;
	margin: 5px 0;
}
#close{
	opacity: 0.5;
	height: 40px;
    float: none;
    right: -360px;
    position: relative;
}
#close:hover{
	opacity: 1;
}
.card {
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-control{
	margin:10px 0;
	border: 1px solid #999999;
}
.form-control:focus{
	border-color: #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.form-signin-heading{
	font-size: 15px;
	margin-bottom:10px;
}
.btn{
	width:278px;
	background-color:black;
	color:white;
	font-family: Noto Sans KR;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	margin-top:10px;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.out{
	font-weight:bold;
	margin-top:12px;
	text-align:center;
	font-size:12px;
}
.out a{
	color:#666666;

}
.out a:hover{
	color:black;
	text-decoration: none;
}