.menu {
    width: 30px;
    margin: 10px 10%;
    display: block;
    float: left;

}

#login {
    width: 25px;
    margin: 10px 10%;
    display: block;
    float: right;
}

#title{
    color: black;
    font-family: Open Sans;
    position: absolute;
    left: 32%;
    width: 32%;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    
}
