
.sub-menu{
	display: block;
	margin-top: 50px;
	margin-left: 20px;
}

li{
	display: block;
}

ul li a{
	font-family: Open Sans;
	font-weight: bold;
	font-size: 20px;
	color: white;
	text-decoration: none;
}
ul {
	width: 250px;
	padding: 0px;
	margin: 0px;
	background-color: black;
}
ul li {
  padding: 15% 0 15% 20px;
  position: relative;
  display: block;
  text-align: left;
}
ul li:first-child a {
  background: black;
}
ul li:last-child {
  margin: 0;
}

.menu {
    width: 30px;
    margin: 10px 10%;
    display: block;
    float: left;

}

.login {
    width: 25px;
    margin: 10px 10%;
    display: block;
    float: right;
}

#title{
    color: black;
    font-family: Open Sans;
    position: absolute;
    left: 32%;
    width: 32%;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    
}

